<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="AgriMercante.com" src="{{ "/assets/img/am-portada.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AgriMercante.com </h3>
    <ul>
      <li> Lead Software Engineer</li>
    </ul>
    <p>I'm currently developing AgriMercante digital products (Web portal, responsive and native app), from the idea conception all the way to the deliver of features and value to the business. I'm currently working with a reactive stack using MeteorJS and MongoDB.</p>
    <a class="project-link" href="http://agrimercante.com">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ts-rec.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Wind Time Series Forecasting </h3>
    <ul>
      <li> ML Engineer at TECNM</li>
    </ul>
    <p> I coursed the Msc. in Computer Science where i worked with AI and ML algorithms to forecast wind speed time series.</p>
    <a class="project-link" href="https://www.researchgate.net/publication/324522317_Pronostico_a_corto_plazo_de_velocidad_del_viento_a_partir_de_datos_incompletos_Wind_Speed_Short-term_Forecasting_from_Incomplete_Data">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="SAP BI" src="{{ "/assets/img/SAP-WI.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SuKarne.com </h3>
    <ul>
      <li> Business Intelligence Consultant</li>
    </ul>
    <p>I developed many of the BI Dashboards at the time, of the Processes Control Center of SuKarne. Here i worked with enterprise grade tools for BI: Informatica ETL, SAP BI and SAP BO. I also worked using SQL Server and Oracle DB.</p>
    <a class="project-link" href="https://www.sukarne.com/">Check it out</a>
  </div>
</div>
